{% extends "layout.html" %}

{% block body %}

        <form method="POST" action="{{ url_for('dept_create') }}">
          
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
                {% for error in form.name.errors %}
                {{ error }}
                {% endfor %}

            </div> 
            <input class="btn btn-primary" type="submit" value="Submit" />
            <a class="btn btn-danger" href="{{url_for('depts_index')}}" role="button">Cancel</a>
</form>
   
        {% endblock %}
