{% extends "layout.html" %}

{% block body %}
<div class="container">
<form method="POST" action="{{ url_for('thesis_checkout', thesis_id=thesis.thesisID) }}">
    <div class="form-group">

        {{ form.username.label }}
        {{ form.username }}

    </div>
    <div class="form-group">

        {{ form.title.label }}
        {{ form.title }}
        {% for error in form.title.errors %}
        {{ error }}
        {% endfor %}

    </div>
    <div class="form-group">

        {{ form.description.label }}
        {{ form.description }}
        {% for error in form.description.errors %}
        {{ error }}
        {% endfor %}

    </div>
    <div class="form-group">

        {{ form.science.label }}
        {{ form.science }}
        {% for error in form.science.errors %}
        {{ error }}
        {% endfor %}

    </div>
    <hr>
    <p>Please enter the name of the author and the level of the thesis</p>
    <p>Saving will set the thesis status to "In progress" and lock the information</p>
    <div class="form-group">

        {{ form.author.label }}
        {{ form.author }}
        {% for error in form.author.errors %}
        {{ error }}
        {% endfor %}

    </div>
    <div class="form-group">

        {% for subfield in form.level %}
        
        {{ subfield }}
        {{ subfield.label }}
        {% endfor %}
        {% for error in form.level.errors %}
        <br>
        {{ error }}
        {% endfor %}

    </div>
    
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                {{ form.createdon.label }}
                {{ form.createdon }}
            </div>
            <div class="col">
                {{ form.modifiedon.label }}
                {{ form.modifiedon }}
            </div>
        </div>
    </div>

    <input class="btn btn-primary" name="action" type="submit" value="Save" />
    <a class="btn btn-danger" href="{{url_for('theses_index')}}" role="button">Cancel</a>
    {% if thesis.status == 1 %}
    <input class="btn btn-warning" name="action" type="submit" value="Clear student checkout" />
    {% endif %}
</form>
</div>
{% endblock %}