{% extends "layout.html" %}

{% block body %}
<div class="container">
    <form action=""></form>
    <div class="form-group">

        {{ form.username.label }}
        {{ form.username }}

    </div>
    <div class="form-group">

        {{ form.title.label }}
        {{ form.title }}
        

    </div>
    <div class="form-group">

        {{ form.description.label }}
        {{ form.description }}
       
    </div>
    <div class="form-group">

        {{ form.science.label }}<br />
        {{ form.science }}


    </div>
    <div class="form-group">
        {% for subfield in form.level %}
        
        {{ subfield }}
        {{ subfield.label }}
        {% endfor %}


    </div>
    <div class="form-group">

        {{ form.status.label }}
        {{ form.status }}
       
    </div>

    <a class="btn btn-info" href="{{url_for('theses_index')}}" role="button">Back</a>

    <br />
    <br />


    </form>
    <div class="form-group">
        <div class="form-row">
            <div class="col">
                {{ form.createdon.label }}
                {{ form.createdon }}
            </div>
            <div class="col">
                {{ form.modifiedon.label }}
                {{ form.modifiedon }}
            </div>
        </div>
    </div>  
</div>
{% endblock %}