{% extends "layout.html" %}


{% block body %}
<div class="container">
<form method="POST" action="{{ url_for('auth_login') }}">
    
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
        </tr>
        {{ error }}
        <br/>
        <tr>   
            
            <td colspan="2">
                <input  class="btn btn-primary" type="submit" value="Login" />
            </td>
        </tr>
</form>
</div>
{% endblock %}
